@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto;
}

.header-top {
  @apply bg-blue-900;
}

.header-top img {
  @apply mx-auto py-3;
}

.header-main {
  @apply bg-orange-600 flex justify-between px-3 items-center;
}

.menu {
  @apply list-none m-0;
}

.menu li {
  @apply inline-block;
}

.menu li a {
  @apply text-white mx-4 px-2 leading-[3rem] inline-block;
}

.menu li a:hover {
  @apply underline;
}

.form-control {
  @apply w-60 mr-3 h-7 border border-stone-400;
}

.form-submit {
  @apply bg-blue-900 w-20 h-7 text-sm border border-stone-400 uppercase;
  color: white;
}

.title {
  @apply text-3xl text-blue-900 uppercase my-6 font-bold;
}

.row {
  @apply grid grid-cols-3 gap-5;
}

.col-item {
  @apply px-5 py-4 border border-orange-500;
}

.name {
  @apply text-orange-700 font-medium py-4 text-lg;
}

.sub-content {
  @apply text-sm;
}

.hv:hover .hvc {
  @apply text-white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  left: 0;
  bottom: -200%;
}
.dropdown-content-filter {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  left: 200px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  cursor: pointer;
}

.act {
  display: block;
}

.error {
  margin-top: 3px;
  color: red;
}
